:root {
  --ifm-color-primary: #ff00ff;
  --ifm-color-primary-dark: #e600e6;
  --ifm-color-primary-darker: #d900d9;
  --ifm-color-primary-darkest: #b300b3;
  --ifm-color-primary-light: #ff1aff;
  --ifm-color-primary-lighter: #ff26ff;
  --ifm-color-primary-lightest: #ff4dff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #ff00ff;
  --ifm-color-primary-dark: #e600e6;
  --ifm-color-primary-darker: #d900d9;
  --ifm-color-primary-darkest: #b300b3;
  --ifm-color-primary-light: #ff1aff;
  --ifm-color-primary-lighter: #ff26ff;
  --ifm-color-primary-lightest: #ff4dff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
